<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Help Page | Skyviews | Weather App</title>
</head>

<body>

    {{>header}}

    <main class="container">
        <div class="bg-img"><img src="/img/sky-2543595.png" /></div>
        <h2 class="title">{{title}}</h2>
    </main>

    {{>footer}}

</body>

</html>