<footer class="footer">
    <div class="container flex-bt">
        <div class="created-by">
            <p>Created by Ravi Raj</p>
            <a href="https://www.instagram.com/someonegreat.2524/" target="_blank"><img src="/img/instagram.png"
                    alt="instagram" /></a>
        </div>
        <p class="powered-by">
            Powered By
            <a href="https://weatherstack.com/" target="_blank">WeatherStack</a>
        </p>
    </div>
</footer>