<header class="header">
    <div class="container flex-bt">
        <h1 class="logo">Skyviews</h1>
        <ul class="nav">
            <li class="nav-links"><a href="/">Home</a></li>
            <li class="nav-links"><a href="/about">About</a></li>
            <li class="nav-links"><a href="/help">Help</a></li>
        </ul>
    </div>
</header>